.game-flow {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      51.73% 68.18% at 50% 50%,
      #005d9d 0%,
      #053b60 100%
    ),
    linear-gradient(0deg, #03113b 0%, #03113b 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: backgroundSwitch;
  animation-delay: 1500ms;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes backgroundSwitch {
  from {
    background: radial-gradient(
        51.73% 68.18% at 50% 50%,
        #005d9d 0%,
        #053b60 100%
      ),
      linear-gradient(0deg, #03113b, #03113b);
  }
  to {
    background: radial-gradient(
        51.73% 68.18% at 50% 50%,
        #005d9d 0%,
        #053b60 100%
      ),
      linear-gradient(0deg, #03113b, #03113b);
  }
}
