.round-banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-1.96deg) translate(-50%, -50%);
  width: 1551.9302076965953px;
  height: 226.15112769765847px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 12px 42px;
  gap: 12px;
  background: var(--White, #ffffff);
  box-shadow: 4px 4px 0px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-intro-text {
  width: 573.4617324092225px;
  height: 96.14393286553127px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #525252;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions-count-text {
  position: absolute;
  bottom: 97px;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  height: 44px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
