.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.info-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 894px;
  height: 558px;
  display: grid;
  gap: 12px;
  border-radius: 12px;
  padding: 24px;
  background: radial-gradient(
    51.73% 68.18% at 50% 50%,
    #005d9d 0%,
    #053b60 100%
  );
  z-index: 1001;
}

.info-popup-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-popup-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.info-popup-content {
  width: 846px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  padding: 12px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000008c;
  font-family: "Montserrat", sans-serif;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.info-popup-content ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 1.2em;
}

.info-popup-content ul li {
  margin-bottom: 28px;
}

.info-popup-content ul li:last-child {
  margin-bottom: 0;
}
