@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-content-layout {
    @apply bg-radial-app-content flex flex-col items-center overflow-y-auto flex-shrink-0; /* Base layout styles */
    /* Responsive sizing and padding */
    @apply w-[852px] h-[353px] pt-[42px] px-[32px] pb-[32px]; /* Default smallest size */
    @apply w1194:w-[1194px] w1194:h-[834px] w1194:pt-[96px] w1194:px-[74px] w1194:pb-[64px];
    @apply w1280:w-[1280px] w1280:h-[1024px] w1280:p-[74px];
    @apply w1366:w-[1366px] w1366:h-[768px] w1366:p-[64px];
    @apply w1440:w-[1440px] w1440:h-[1024px] w1440:p-[72px];
    @apply w1920:w-[1920px] w1920:h-[1080px] w1920:p-[96px]; /* Using value from your provided JSX */
    @apply w2560:w-[2560px] w2560:h-[1440px] w2560:p-[128px]; /* Using value from your provided JSX */
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Other global variables can go here */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Full-height root to enable proper 1fr sizing */
html,
body,
#root {
  height: 100%;
  margin: 0;
}
